<h1>Leave Your message here</h1>
<form id="mainForm" action="/" method="POST">
    <p><textarea rows="10" cols="55" name="message" id="message" autofocus required></textarea></p>
    <p><b>Choose Message destroy policy</b></p>
    <p>after the first <input type="number" name="visits_to_live" min="0"> link visits<br>
    after <input type="number" name="hours_to_live" min="0"> hour/s</p>
    <p><b>Password: <b><input type="password" id="password"></p>
    <p><input type="submit"></p>
</form>
<script type="text/javascript" src="https://rawgit.com/chrisveness/b28bd30b2b0c03806b0c/raw/78e2e487627c9985d8ba16e4409657620b027c64/public%25E2%2580%2594js%25E2%2580%2594aes.js"></script>
<script type="text/javascript" src="https://rawgit.com/chrisveness/b28bd30b2b0c03806b0c/raw/78e2e487627c9985d8ba16e4409657620b027c64/public%25E2%2580%2594js%25E2%2580%2594aes-ctr.js"></script>
<script type="text/javascript" src="password_helper.js"></script>