<h1>Bad request</h1>
<p>
self-destruction of messages after given number of link visits <b>or</b> after given number of hours
</p>
<p>
    <a href="<%= @url %>">
        Back to main page
    </a>
</p>