<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mobley - secure message-sharing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="secure message-sharing" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>