
<script type="text/javascript" src="https://rawgit.com/keybase/triplesec/master/rel/triplesec-3.0.14-min.js"></script>
<script type="text/javascript">
if ('<%= @message.frontend_password %>' == 'true') {
  console.log('need password to decrypt message');
  decryptMessage();
} else {
  console.log('message is not encrypted');
  document.write("<p><b>Message: </b><%= @value %>");
};

function decryptMessage() {
    var password = prompt('Enter password to view this message, please');
    triplesec.decrypt({
        data: new triplesec.Buffer("<%= @value %>", "hex"),
        key: new triplesec.Buffer(password)
    }, function(err, buff) {
        if (!err) {
            console.log("decrypted message: " + buff.toString());
            document.write("<p><b>Message:</b> " + buff.toString().replace(/\n/g, "<br>") + "</p>");
        } else {
            alert("Incorrect password");
        }
    });
};
</script>